body {
    background-image: url("../images/bg-image-terrain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container-terrain {
    background-image: url("../images/terin.png");
    background-repeat: no-repeat;
    background-size: 80% 100%;
    background-position: center;
    height: 600px;
    width: 50%;
    display: grid;
    grid-template-rows: repeat(4, 1fr); 
    grid-template-columns: repeat(5, 1fr); 
    /* border: 2px solid red; */
    /* padding: 100px; */
    padding: 0 110px 40px 110px;
   
  }
  .card{
    width: 100%;
    /* border: 2px solid red; */
    position: relative; 
    display: inline-block;
  }
  .card img{
    width: 180px;
    height: 130px;
  }

  .card .icon {
    position: absolute;
    top: 35%; 
    left:39%; 
    font-size: 24px; 
    color: white; 
    border-radius: 50%; 

}

  /* المهاجمون */
  .container-terrain div:nth-child(1) { grid-column: 2/3; grid-row: 2;} /* ST */
  .container-terrain div:nth-child(2) { grid-column: 3; grid-row: 2;} /* LW */
  .container-terrain div:nth-child(3) { grid-column: 4/5; grid-row: 2;} /* RW */

  /* لاعبو الوسط */
  .container-terrain div:nth-child(4) { grid-column: 2/3; grid-row: 3; } /* CM (يسار) */
  .container-terrain div:nth-child(5) { grid-column: 3/4; grid-row: 3; } /* CM (وسط) */
  .container-terrain div:nth-child(6) { grid-column: 4/5; grid-row: 3; } /* CM (يمين) */

  /* المدافعون */
  .container-terrain div:nth-child(7) { grid-column: 1/2; grid-row: 4; } /* LB */
  .container-terrain div:nth-child(8) { grid-column: 2/3; grid-row: 4; } /* CB */
  .container-terrain div:nth-child(9) { grid-column: 4/5; grid-row: 4; } /* CB */
  .container-terrain div:nth-child(10) { grid-column: 5/6; grid-row: 4; } /* RB */

  /* الحارس */
  .container-terrain div:nth-child(11) { grid-column: 3/4; grid-row: 5; } /* GK */

